<div th:insert="fragments/header :: modelheader"></div>
<h1>Listar Clientes</h1>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                </tr>
            </thead>
            <tr th:each="c : ${clientePF}">
                <td th:text="${c.id}"> </td>
                <td th:text="${c.nome}"> </td>
                <td th:text="${c.cpf}"> </td>
                <td> <a th:href="@{/clientePF/edit/{id}(id=${c.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/clientePF/remove/{id}(id=${c.id})}">Excluir</a> </td>
            </tr>
        </table>
<div th:insert="fragments/footer :: modelfooter"></div>