<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Carrinho</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <table class="table" border="1">
                
            <a href="/vendas/limparsessao"><button>Limpar Carrinho</button></a>
            <br> 
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Descrição</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tr th:each="i, s : ${session.venda.itemvenda}">
                    <td th:text="${s.index+1}"> </td>
                    <td th:text="${i.produto.descricao}"> </td>
                    <td th:text="${i.produto.valor}"> </td>
                    <td th:text="${i.qtd}"> </td>
                    <td th:text="${i.total()}"> </td>
                    <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/vendas/carrinhoremove/{index}(index=${s.index})}">Excluir</a> </td>
                </tr>
            </table>
            <p th:text="${session.venda.total()}"></p>
            <form th:action="@{/vendas/clienteadd}" th:object="${clientePF}"> <!--fazer um select para mostrar todos os clientes-->
                <select th:name="id" class="form-select" label="Selecione um Cliente" >
                    <option selected>Selecione um Cliente</option>
                    <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}"></option>
                </select>
                <input type="submit">
              </form>
        </div>
    </body>
</html>
