<div th:insert="fragments/header :: modelheader"></div>
        <p>
            Informações da Venda:<br>
            ID: <span th:text="${venda.id}"></span><br>
            Data: <span th:text="${venda.data}"></span><br>
            Valor total: <span th:text="${venda.total()}"></span>
        </p>        
        <br>
        <table class="table" border="1">
            <thead>
                <tr><th colspan="5">Tabela de itens</th></tr>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>qtd</th>
                    <th>Valor Total</th>
                </tr>
            </thead>
            <tr th:each="i : ${venda.itemvenda}">
                <td th:text="${i.id}"> </td>
                <td th:text="${i.produto.descricao}"> </td>
                <td th:text="${i.produto.valor}"> </td>
                <td th:text="'x'+${i.qtd}"> </td>
                <td th:text="${i.total()}"> </td>
            <tr>
        </table>
        <br>
        <p>
            Informações do Cliente:<br>
            ID: <span th:text="${cliente.id}"></span><br>
            Nome: <span th:text="${cliente.nome}"></span><br>
            CPF: <span th:text="${cliente.cpf}"></span><br>
        </p>
<div th:insert="fragments/footer :: modelfooter"></div>