<div th:insert="fragments/header :: modelheader"></div>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tr th:each="v : ${vendas}">
                <td th:text="${v.id}"> </td>
                <td th:text="${v.data}"> </td>
                <td th:text="${v.total()}"> </td>
                <td> <a th:href="@{/vendas/detalhes/{id}(id=${v.id})}">Exibir detalhes</a> </td>
                
            </tr>
        </table>
<div th:insert="fragments/footer :: modelfooter"></div>