<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"  th:fragment="modelheader">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no"/>

        <link href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"/>
        
    </head>

    <body class="container ">
        <div class="jumbotron">

            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <a class="navbar-brand " href="/produtos/index">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active " aria-current="page" href="/produtos/index">Home</a>
                            <a class="nav-link  " aria-current="page" href="/produtos/form">Cadastrar Produto</a>
                            <a class="nav-link  " href="/produtos/list">Editar Produto</a>
                            <a class="nav-link  " href="/clientePF/form">Cadastrar Cliente</a>
                            <a class="nav-link  " href="/clientePF/list">Editar Cliente</a>
                            <a class="nav-link  " href="/vendas/list">Listar Vendas</a>
                            <a class="nav-link  " href="/vendas/carrinho">Mostrar Carrinho</a>
                        </div>
                    </div>
                </div>
            </nav>
            <hr/>


            
