<div th:insert="fragments/header :: modelheader"></div>
<div class="container ">
<p>Adicione os itens ao carrinho</p>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Informe a quantidade de itens</th>
                </tr>
            </thead>
            <tr th:each="p,s : ${produtos}">
                <td th:text="${s.index+1}"> </td>
                <td th:text="${p.descricao}"> </td>
                <td th:text="${p.valor}"> </td>
                <td>
                <form th:action="@{/vendas/savecarrinho}" th:object="${itemVenda}" method="get">
                    <input type="hidden" th:field="*{id}">
                    <input type="hidden" th:name="produto.id" th:value="${p.id}">    
                    <input type="number" th:field="*{qtd}"  placeholder="Quantidade">    
                    <input type="submit" value="Enviar">
                </form>
                </td>
            </tr>
        </table>
<!--        <p th:text="'Produtos disponiveis: '+${produtos.size()}"></p>-->
        <a href="/vendas/carrinho"><button th:text="'Carrinho: '+${session.venda.itemvenda.size()}">  </button></a>
    </div>
<div th:insert="fragments/footer :: modelfooter"></div>