<div th:insert="fragments/header :: modelheader"></div>
        <h1>Listar Produtos</h1>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tr th:each="p : ${produtos}">
                <td th:text="${p.id}"> </td>
                <td th:text="${p.descricao}"> </td>
                <td th:text="${p.valor}"> </td>
                <td> <a th:href="@{/produtos/edit/{id}(id=${p.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/produtos/remove/{id}(id=${p.id})}">Excluir</a> </td>
            </tr>
        </table>
<div th:insert="fragments/footer :: modelfooter"></div>